
   
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Bolarinwa Komolafe - "Full Stack Developer"</h2>
					Hi, 
                    <p>My name is Bolarinwa Komolafe and I recently (August, 2018) completed a Computer Programming Diploma Course
                        at Seneca College of Applied Arts &amp; Technology. My interests cut across web programming, database design and software development.
						Equally, I have a solid background in Mechanical and Material Engineering. Thus, I hope to use my programming knowledge, not only for web designs, but also for process 
						improvement and development. </p>
                    <p>Enjoy browsing my app! If you have any questions, or are in need of a JS or .NET developer for your project, I can be found at <a href="mailto:komolafe.bolarinwa@gmail.com" target="_blank">Bola</a></p>
                    Sincerely, <br/> 
                    Bolarinwa Komolafe
					</article>
				</section>
		</div>
	<div class="container">
   <div class="row">
<div class="col-md-12">
<h3>Leave a Comment</h3>
<div class="well">
<div class="row">
<div class="col-md-12">
<form  method="POST" action="/about/addComment">
<div class="row">
	<div class="col-md-6">
                    <div class="form-group">
						<input class="form-control" id="authorName" name="authorName" type="text" placeholder="Name"/>
                    </div></div>

<div class="col-md-6">
    <div class="form-group">
	<input class="form-control" id="authorEmail" name="authorEmail" type="email" placeholder="Email"/>
                    </div></div></div>

<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<textarea class="form-control" name="commentText" id="commentText" rows="8" placeholder="Comment"></textarea>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2 col-md-offset-10">
<button type="submit" class="btn btn-primary form-control">Comment</button>
	</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>


{{#if data}}
<div class="row">
<div class="col-md-12">
<h3>All Comments</h3>
<hr />
</div>
</div>
{{/if}}

{{#each data}}
<div class="row">
<div class="col-md-12">
	<strong>{{subject}}</strong>
<div class="well">
<div class="row">
<div class="col-md-12">
{{commentText}}<br /><br />
Posted on: {{postedDate}} by <a href="mailto:{{authorEmail}}">{{authorName}}</a><br /><br />
</div>
</div>
{{#each replies}}
<div class="row">
<div class="col-md-12">
<div class="well">{{commentText}}<br /><br />
Posted on: {{repliedDate}} by <a href="mailto:{{authorEmail}}">{{authorName}}</a><br />
</div>
</div>
</div>
{{/each}}
<div class="row">
<div class="col-md-12">
<button class="btn btn-primary btn-sm pull-right" data-toggle="collapse" data-target="#reply-{{_id}}" aria-expanded="false">Reply</button>
</div>
</div>
</div>

<div class="collapse" id="reply-{{_id}}">
<div class="well">
<div class="row">
<div class="col-md-12">
<form  method="POST" action="/about/addReply">

	<div class="row">
		<div class="col-md-6">
			<input type="text" name="authorName" class="form-control" placeholder="Name" /> <br />
		</div>
		<div class="col-md-6">
			<input type="email" name="authorEmail" class="form-control" placeholder="Email" /> <br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<textarea name="commentText" class="form-control" placeholder="Comment" rows="8"></textarea><br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<input type="hidden" value="{{_id}}" name="comment_id" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-10">
			<button class="btn btn-primary form-control" type="submit">Reply</button>
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
{{/each}}