<div class="row">
    <div class="col-md-12">
        
        <h1>{{viewData.data.firstName}} {{viewData.data.last_name}} - Employee: {{viewData.data.employeeNum}}</h1>
        <form method ="post" action="/employee/update">
        <fieldset>
            <legend>Personal Information</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input class="form-control" id="firstName" name="firstName" type="text" value="{{viewData.data.firstName}}" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input class="form-control" id="last_name" name="last_name" type="text" value="{{viewData.data.last_name}}" />
                    </div>
                </div>
            </div>

<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        
                        <input class="form-control" id="employeeNum" name="employeeNum" type="hidden" value="{{viewData.data.employeeNum}}" />
                    </div>
                </div>
</div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" name="email" type="email" value="{{viewData.data.email}}" />
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="socialSecurityNum">Social Security Num:</label>
                        <input class="form-control" id="socialSecurityNum" name="SSN" type="text" value="{{viewData.data.SSN}}" readonly />
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="street">Address (Street):</label>
                        <input class="form-control" id="street" name="addressStreet" type="text" value="{{viewData.data.addressStreet}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="city">Address (City):</label>
                        <input class="form-control" id="city" name="addresCity" type="text" value="{{viewData.data.addresCity}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="state">Address (State):</label>
                        <input class="form-control" id="state" name="addressState" type="text" value="{{viewData.data.addressState}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="zipCode">Address (Zip Code):</label>
                        <input class="form-control" id="zipCode" name="addressPostal" type="text" value="{{viewData.data.addressPostal}}" />
                    </div>
                </div>
            </div>
             <div class="row">
                 {{#if viewData.data.isManager}}
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="isManager">Manager:</label>
                        <input class="form-control checkbox-inline" id="isManager" name="isManager" type="checkbox" checked/>
                    </div>
                </div>
                {{else}}
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="isManager2">Manager:</label>
                        <input class="form-control checkbox-inline" id="isManager2" name="isManager" type="checkbox" />
                    </div>
                </div>
            {{/if}}
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="employeeManagerNum">Employee's Manager Number:</label>
                        <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text" value="{{viewData.data.employeeManagerNum}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label >Status:</label><br />
                        {{#equal viewData.data.status "Full Time"}}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input class="radio-inline" id="status" name="status" type="radio" value="Full Time" checked /> Full Time</label> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input class="radio-inline" id="status2" name="status" type="radio" value="Part Time"  /> Part Time</label>
                        {{/equal}}
                         {{#equal viewData.data.status "Part Time"}}
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input class="radio-inline" id="status1" name="status" type="radio" value="Full Time"  /> Full Time</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input class="radio-inline" id="status" name="status" type="radio" value="Part Time" checked /> Part Time</label> 
                        {{/equal}}
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="department">Department</label><br />
                       
                        <select id="department" name="department" class="form-control">
                            {{#each viewData.departments}}
                            <option value="{{departmentId}}" {{#if selected}} selected {{/if}}> {{departmentName}} </option>
                            {{else}}
                        <div>No Departments</div>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="hireDate">Hire Date</label>
                        <input class="form-control" id="hireDate" name="hireDate" type="text" value="{{viewData.data.hireDate}}" readonly />
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
        </form>
        
    </div>
</div>
