<div class="row">
    <div class="col-md-12">
        {{#each data}}
        <h1>{{firstName}} {{last_name}} - Employee: {{employeeNum}}</h1>
        <form method ="post" action="/employee/update">
        <fieldset>
            <legend>Personal Information</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input class="form-control" id="firstName" name="firstName" type="text" value="{{firstName}}" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input class="form-control" id="last_name" name="last_name" type="text" value="{{last_name}}" />
                    </div>
                </div>
            </div>

<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        
                        <input class="form-control" id="employeeNum" name="employeeNum" type="hidden" value="{{employeeNum}}" />
                    </div>
                </div>
</div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" name="email" type="email" value="{{email}}" />
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="socialSecurityNum">Social Security Num:</label>
                        <input class="form-control" id="socialSecurityNum" name="SSN" type="text" value="{{SSN}}" readonly />
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="street">Address (Street):</label>
                        <input class="form-control" id="street" name="addressStreet" type="text" value="{{addressStreet}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="city">Address (City):</label>
                        <input class="form-control" id="city" name="addresCity" type="text" value="{{addresCity}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="state">Address (State):</label>
                        <input class="form-control" id="state" name="addressState" type="text" value="{{addressState}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="zipCode">Address (Zip Code):</label>
                        <input class="form-control" id="zipCode" name="addressPostal" type="text" value="{{addressPostal}}" />
                    </div>
                </div>
            </div>
             <div class="row">
                 {{#if isManager}}
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="isManager">Manager:</label>
                        <input class="form-control checkbox-inline" id="isManager" name="isManager" type="checkbox" checked/>
                    </div>
                </div>
                {{/if}}
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="employeeManagerNum">Employee's Manager Number:</label>
                        <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text" value="{{employeeManagerNum}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label >Status:</label><br />
                        {{#equal status "Full Time"}}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input class="radio-inline" id="status" name="status" type="radio" value="Full Time" checked /> Full Time</label> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input class="radio-inline" id="status2" name="status" type="radio" value="Part Time"  /> Part Time</label>
                        {{/equal}}
                         {{#equal status "Part Time"}}
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input class="radio-inline" id="status1" name="status" type="radio" value="Full Time"  /> Full Time</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input class="radio-inline" id="status" name="status" type="radio" value="Part Time" checked /> Part Time</label> 
                        {{/equal}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="department">Department</label><br />
                        <select id="department" class="form-control">
                            {{#equal department "1"}}<option value="1" selected>1</option>{{/equal}}
                            {{#equal department "2"}}<option value="2" selected>2</option>{{/equal}}
                            {{#equal department "3"}}<option value="3" selected>3</option>{{/equal}}
                            {{#equal department "4"}}<option value="4" selected>4</option>{{/equal}}
                            {{#equal department "5"}}<option value="5" selected>5</option>{{/equal}}
                            {{#equal department "6"}}<option value="6" selected>6</option>{{/equal}}
                            {{#equal department "7"}}<option value="7" selected>7</option>{{/equal}}
                        </select>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="hireDate">Hire Date</label>
                        <input class="form-control" id="hireDate" name="hireDate" type="text" value={{"hireDate"}} readonly/>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
        </form>
        {{/each}}
    </div>
</div>
